<div class="text-center space-y-4">
  <h1 class="text-3xl font-bold mt-6">ようこそ、NDCクイズへ！</h1>
  <p>書誌情報をもとに、NDCの１桁目を当てるクイズに挑戦してみましょう。</p>
  <%= link_to "ゲームスタート", start_games_path, class: "inline-block bg-yellow-500 hover:bg-yellow-600 text-white px-6 py-2 rounded" %>
</div>